.header {
  &__info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color-grey-dark,0.3);
    @include respond(tab-land) {
      display: none;
    }

    &__left {
      display: flex;
      flex-direction: row;

      &__item {
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        color: $color-grey-dark;
        border-right: 1px solid rgba($color-grey-dark, $alpha: .3);
        cursor: pointer;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: 1.6rem;


        &:hover{
          color: $color-grey-light;
        }

      
      }
    }


    &__right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;


      &__item {
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: 1.6rem;
        text-transform: uppercase;
        color: $color-grey-dark;
        border-left: 1px solid rgba($color-grey-dark, $alpha: .3);
        cursor: pointer;

        &:hover{
          color: $color-grey-light;
        }
        &__iconBox{
          position: relative;

          span{
            position: absolute;
            top: -1rem;
            right: -1rem;
            padding-inline: 0.4rem;
            border-radius: 50%;
            background: $color-primary;
            color: $color-white;
          
          }
        }
      }
    }

    &__icon {
      font-size: 1.5rem;
    }
  }
}
